<div class="container">
    <!--- inicio del container para el menu-->
    <!--- inicio del menu-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!---logo--> <img src="../../../assets/img/logo1.4.png" width="130px" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <!---Boton de navegacion al momento de disminuir-->
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto " align="right">

                    <li class="nav-item">
                        <!---Cambio de letra-->
                        <font face="Arial black, Arial, Verdana">
                            <a class="nav-link active" aria-current="page"
                            [routerLink]="['/inicio']"  routerLinkActive="active"  >Inicio</a>
                        </font>
                    </li>

                    <li class="nav-item">
                        <!---Cambio de letra-->
                        <font face="Arial black, Arial, Verdana">
                            <a class="nav-link active" aria-current="page"
                            [routerLink]="['/carta']"  routerLinkActive="active"  >Carta</a>
                        </font>
                    </li>

                    <li class="nav-item">
                        <!---Cambio de letra-->
                        <font face="Arial black, Arial, Verdana">
                            <a class="nav-link active" aria-current="page"
                            [routerLink]="['/reserva']"  routerLinkActive="active" >Reserva</a>
                        </font>
                    </li>

                    <li class="nav-item">
                        <!---Cambio de letra-->
                        <font face="Arial black, Arial, Verdana">
                            <a class="nav-link active" aria-current="page"
                            [routerLink]="['/nosotros']"  routerLinkActive="active" >Nosotros</a>
                        </font>
                    </li>

                    <li class="nav-item">
                        <!---Cambio de letra-->
                        <font face="Arial black, Arial, Verdana">
                            <a class="nav-link active" aria-current="page"
                            [routerLink]="['/pideya']"  routerLinkActive="active" >PideYA</a>
                        </font>
                    </li>

                    <li class="nav-item">
                        <!---Cambio de letra-->
                        <font face="Arial black, Arial, Verdana">
                            <a class="nav-link active" aria-current="page"
                            [routerLink]="['/contactenos']"  routerLinkActive="active"  >Contactenos</a>
                        </font>
                    </li>

                    <li class="nav-item">
                        <!---Cambio de letra-->
                        <font face="Arial black, Arial, Verdana">
                            <a class="nav-link active" aria-current="page"
                            [routerLink]="['/covid19']"  routerLinkActive="active"  >Covid-19</a>
                        </font>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


</div>