<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title><!--Pestaña con logo de la pagina-->
    <link rel="icon" type="image/jpg" href="../../../assets/img/sobre-nosotros.png">
</head>
<div class="container">
    <!---inicio de container +  la grid-->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="color:tomato; 
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
      font-size: 35px; margin-top:20px; 
      margin-bottom:20px; 
      text-align:center">¿Quienes somos?</div>
        <!--Subtitulo-->
        <div>
            <!--Texto de Quienes somos-->
            Somos un restaurante de comida rápida con un ambiente familiar y cálido,
            desde el año 2020 ofrecemos servicio de restaurante, servicio rápido y servicio a domicilio
            con alto conocimiento en la producción y venta de comidas rápidas, la experiencia adquirida a través de los
            años, nos da el conocimiento para valorar la importancia del cliente, quien es el motivo de nuestros
            esfuerzos, y así llegar a ustedes con la seguridad de poder ofrecerles nuestros productos de excelente
            calidad con responsabilidad y cumplimiento. Contamos con excelente calidad humana que les brindara la
            atención apropiada, para de esta manera poder llegar a saber y entender sus gustos y necesidades. El hecho
            de contar con ustedes como nuestros clientes es motivo de satisfacción.
        </div>
    </div>


    <br><br>

    <div class="container">
        <!---inicio de container para la grid-->
        <div class="row">
            <!---inicio primera grid-->

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="color:tomato; 
         font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
         font-size: 35px; margin-top:20px; 
         margin-bottom:20px; 
         text-align:center">Misión</div>
            <br>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="color:tomato; 
         font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         font-size: 35px; margin-top:20px; 
         margin-bottom:20px; 
         text-align:center">Visión</div>
            <br><br>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <p>"Tiene como misión darle la excelencia a nuestros productos de comidas rápidas con alta calidad,
                    nutritivos sanos y frescos, en función de satisfacer las necesidades del consumo, proporcionando en
                    forma permanente bienestar y calidad de vida. Entregamos a nuestros consumidores los productos que
                    ellos prefieren y eligen por nuestra calidad y presentación."</p>
            </div>



            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <p>"Tiene como visión consolidarnos como la mejor empresa a nivel nacional, en cuanto a la producción y
                    venta de comidas rápidas, apoyándonos en instalaciones con la más alta tecnología para el manejo de
                    nuestros productos y contamos con personal altamente calificado manteniendo nuestro riguroso y
                    estricto control de calidad."</p>
            </div>

        </div>
        <!--fin primera grilla-->
    </div>
    <!--fin del container + la grid-->

    <br><br>
    <!--texto subtitulado para-->
    <div style="color:tomato; 
         font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
         font-size: 35px; margin-top:20px; 
         margin-bottom:20px; 
         text-align:center">Valores</div>


    <!--imagen de la piramide de valores-->
    <div align="center">
        <img src="../../../assets/img/Screenshot_2.png" class="img-thumbnail">
    </div>

</div>
<!--final de container-->