<br>
<div class="text-center bg-dark text-white">
    WWW.ComidasrapidasALY.com <br>
    Colombia - Atlantico - Barranquilla <br>
    Tel: 222222 // Correo: ComidasrapidasALY@gmail.com
    <br>
    <!---logos de redes sociales con hiperbinculos-->
    <a href="https://twitter.com/i/flow/login" target="_blank"> <img src="../../../assets/img/twitter.jpg" width="30"
            height="30">
        <a href="https://www.facebook.com/" target="_blank"> <img src="../../../assets/img/facebook.png" width="30"
                height="30">
            <a href="https://www.instagram.com/?hl=es" target="_blank"> <img src="../../../assets/img/instagram.png"
                    width="30" height="30"></a>