<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title><!--Pestaña con logo de la pagina-->
    <link rel="icon" type="image/jpg" href="../../../assets/img/nueva-normalidad.png">
</head>
  <div class="container"><!--inicio del contaier-->
    <div 
            style="color: tomato; 
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
            font-size: 35px; margin-top:20px; 
            margin-bottom:20px; 
            text-align:center">¿Son seguras las preparaciones y 
            envíos de comida rapida a domicilio durante la pandemia de coronavirus? </div>
  
           
  
            <!--primera grilla-->
            <div class="row">
             <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
               <img src="../../../assets/img/descarga.jpg" class="img-thumbnail" height="400"  width="600" >
              </div> 
           
           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            La enfermedad del coronavirus 2019 (COVID-19) es una enfermedad respiratoria causada por un virus llamado SARS-CoV-2. Los síntomas a menudo incluyen fiebre, tos o dificultad para respirar. Nuestra comprensión de cómo se propaga el virus evoluciona a medida que tenemos más información disponible, le sugerimos que visite el sitio web de los CDC para ver la información más reciente. Se cree que el virus se propaga principalmente de persona a persona:
            <br>
            *- Entre personas que están en contacto cercano (a una distancia de hasta aproximadamente 6 pies).
            <br>
            *- A través de gotitas respiratorias que se producen cuando una persona infectada tose, estornuda o habla.
            <br>
            Estudios recientes indican que el virus puede ser propagado por las personas antes de presentar síntomas o por personas que nunca llegan a presentar síntomas.  Además, podría ser posible que una persona contraiga el COVID-19 al tocar una superficie u objeto que tenga el virus y luego se toque la boca, la nariz o posiblemente los ojos. Sin embargo, no se cree que esta sea la principal forma en que se propaga el virus. Los adultos mayores y las personas de cualquier edad con afecciones subyacentes graves pueden correr mayor riesgo de presentar complicaciones graves a causa del COVID-19.
             </div>
             <div>
  
              <br> <br>
              <div
              style="color:black; 
              font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
              font-size: 35px; margin-top:20px; 
              margin-bottom:20px; 
              text-align:center">Sin embargo, en comidas rapidas ALY hemos tomado y adaptado todas las medidas de cuidado y prevencion ante el COVID-10.
              </div>
             
             <img src="../../../assets/img/Restaurantes_473963577_147945020_1706x1280.jpg" class="img-thumbnail" height="800">
          
              
              <br> <br>
              <div
              style="color:black; 
              font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
              font-size: 35px; margin-top:20px; 
              margin-bottom:20px; 
              text-align:center">De igual formas nos hemos adaptado para hacer entregas de domicilio de forma sana, segura y las normas de bioseguridad en nuestros locales.
              </div>
  
              
              <div class="container">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" 
              ><img src="../../../assets/img/domicilio.jpeg" class="img-thumbnail"  ></div>
              <br>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"
              ><img src="../../../assets/img/covid-contagio-mascarilla-bar-restaurante-cerrado--5180.jpg" class="img-thumbnail" height="425"></div>           
          
              </div>
          </div>
        </div>
