<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comidas Rapidas ALY</title><!--Pestaña con logo de la pagina-->
    <link rel="icon" type="" href="../../../assets/img/comida-rapida2.png">
</head>
<br>
<div class="container"><!--inicio de container / grids de ofertas -->  
    <div class="row"> <!-- grids de ofertas --> 
      
   <!-------------------------------------------------------------->

    <hr>
    <div  
    style="color:tomato; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 35px; margin-top:20px; 
    margin-bottom:20px; 
    text-align:center">Bienvenidos a comidas rapidas ALY ʕ•́ᴥ•̀ʔっ♡</div><hr>

    <div><img src="../../../assets/img/web1 (1).jpg" class="img-fluid"> <br><br></div>
 
    <!-------------------------------------------------------------->

    <marquee><br>🍟&nbsp;&nbsp;&nbsp;&nbsp;🍔&nbsp;&nbsp;&nbsp;&nbsp;🍕&nbsp;&nbsp;&nbsp;&nbsp;🥓&nbsp;&nbsp;&nbsp;&nbsp;🥩&nbsp;&nbsp;&nbsp;&nbsp;🌭&nbsp;&nbsp;&nbsp;&nbsp;🌮&nbsp;&nbsp;&nbsp;&nbsp;🌯&nbsp;&nbsp;&nbsp;&nbsp;🥗&nbsp;&nbsp;&nbsp;&nbsp;🍻&nbsp;&nbsp;&nbsp;&nbsp;🍹&nbsp;&nbsp;&nbsp;&nbsp;🍔<br><br></marquee>  

    <!-------------------------------------------------------------->   
    
    <br>
    
          <div class="row">
    
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/zcy_nuUBoL8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
    
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" 
          style="color:tomato; 
          font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
          font-size: 35px; margin-top:20px; 
          margin-bottom:20px"><br><h2>Nuestro <br>Especial del<br> Día</h2><h3 style="color:slategrey; font-size: 20px; margin-top:20px; 
          margin-bottom:20px">>>>&nbsp;&nbsp;Nuestro especial del día, Hamburguesa fantasía por tan solo $12.500 pesos.</h3>
          </div>
          
           </div> 
          
    <!-------------------------------------------------------------->
          
          <marquee><br>
            🍟&nbsp;&nbsp;&nbsp;&nbsp;🍔&nbsp;&nbsp;&nbsp;&nbsp;🍕&nbsp;&nbsp;&nbsp;&nbsp;🥓&nbsp;&nbsp;&nbsp;&nbsp;🥩&nbsp;&nbsp;&nbsp;&nbsp;🌭&nbsp;&nbsp;&nbsp;&nbsp;🌮&nbsp;&nbsp;&nbsp;&nbsp;🌯&nbsp;&nbsp;&nbsp;&nbsp;🥗&nbsp;&nbsp;&nbsp;&nbsp;🍻&nbsp;&nbsp;&nbsp;&nbsp;🍹&nbsp;&nbsp;&nbsp;&nbsp;🍔<br><br>
          </marquee>
   
    <!-------------------------------------------------------------->
          <br><br>
    
          <div class="row">
    
           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"
              style="color:slategrey; 
              font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
              font-size: 35px; margin-top:20px; 
              margin-bottom:20px; 
              text-align:center">¡Contamos con excelente calidad humana que les brindara la atención apropiada, para de esta manera poder llegar a saber y entender sus gustos y necesidades. El hecho de contar con ustedes como nuestros clientes es motivo de satisfacción!</div>
          
            <br>
    
            <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ratio ratio-16x9"><iframe  src="https://www.youtube.com/embed/5QMgTSvBUpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
    
          </div>
    
   <!-------------------------------------------------------------->
                  
                  <marquee><br>🍟&nbsp;&nbsp;&nbsp;&nbsp;🍔&nbsp;&nbsp;&nbsp;&nbsp;🍕&nbsp;&nbsp;&nbsp;&nbsp;🥓&nbsp;&nbsp;&nbsp;&nbsp;🥩&nbsp;&nbsp;&nbsp;&nbsp;🌭&nbsp;&nbsp;&nbsp;&nbsp;🌮&nbsp;&nbsp;&nbsp;&nbsp;🌯&nbsp;&nbsp;&nbsp;&nbsp;🥗&nbsp;&nbsp;&nbsp;&nbsp;🍻&nbsp;&nbsp;&nbsp;&nbsp;🍹&nbsp;&nbsp;&nbsp;&nbsp;🍔<br><br></marquee>

   <!-------------------------------------------------------------->
                  
    <br>
                 <div class="row">
                 <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                 <div class="ratio ratio-16x9"><img src="../../../assets/img/Mi videosdfsdf.gif" ></div>
                 </div>
                
            
                 <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" 
                 style="color:tomato; 
                 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
                 font-size: 35px; margin-top:20px; 
                 margin-bottom:20px"><br><h2>Nuestro <br>remendado<br> para esta semana</h2><h3 style="color:slategrey; font-size: 20px; margin-top:20px; 
                 margin-bottom:20px">>>>&nbsp;&nbsp;Nuestro recomendado para esta semana, COMBO EL LLANERO, Una hamburguesa con doble carne papas + bebida 250 M desde $ 13.900.</h3></div>
                 </div> 
                 </div> 
    

           </div><!--final de container / grids de ofertas-->
<br>